.CircleBar {
    position: fixed;
    float: left;
    width: 950px;
    margin-left: -5vh;
    transform: translateY(10px);
}

.Home{
    padding: 5vh 5vh 0vh 5vh;
    position: relative;
    transform: translateY(100px);
    margin: 5vh;
}

h1{

    position: relative;
}

p{

    position: relative;
}


.Text-background {
    background-color: #ddd3ee;
    padding: 1vh;
}

@media only screen and (max-width: 950px){
    .Home{
        transform: translateX(200px);
        position: relative;
    }

    h1{

        position: relative;
    }
    
    p{
    
        position: relative;
        
    }

    .CircleBar {
        position: fixed;
        float: left;
        width: 50px;
        margin-left: -5vh;

    }

}