.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.Title{
  font-size: 10vh;
  color: rgb(41, 23, 32);;
  margin: 7vh;
}

.rectangle {
  width: 100%;
  height: 75vh;
  
  background: #dcdbde;
  position: absolute;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Circle {
    position: relative;
    float: left;
}

.Label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px
}


/* Dots used in Nav Bar */
.dotS {
  margin: 0px 0px 0px 100px;
  height: 80px;
  width: 80px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: relative;
   text-align: center;
   color: white;


}

.dotM:hover {
  color: rgb(85, 76, 85);
}

.dotM {
  margin: 0px 0px 0px 100px;
  height: 90px;
  width: 125px;
  display: inline-block;
  position: relative;
  text-align: center;
  color: rgb(41, 23, 32);
  white-space: nowrap;

}

.dotL {
  height: 130px;
  width: 130px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;

}

@media (max-width: 1060px) {
  .Circle {
      position: relative;

  }
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap{
  flex: 1;
}